<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Stuff</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mars Mission</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <div class = "row" id="mars-news">
      <h2>Latest Mars News</h2>
      <h3>{{mars.mars_news_title}}</h3>
      <p>{{mars.mars_news_p}}</p>
    </div>
    <div class = "row" id="mar-news-image">
      <div class="col-md-8">
        <h2>Featured Mars Image</h2>
        <!-- How to reference the mars object --> 
        <img src="{{mars.image}}">
      </div>
      <div class = "colmd-4">
        <h3>Current Weather on Mars</h3>
        <p>{{mars.weather}}</p>
        <br>
        <h3>Mars Facts</h3>
        <table class="table">
        </table>
      </div>
    </div>


    <div class="row" id="craiglist-listings">
      <div class="col-md-12">
        <h4 class="heading">"things"</h4>
        <small>"things"</small><!-- @TODO render your data here -->
      </div>
    </div>

  </div>
</body>

</html>

